// =====================
// Extends
// =====================


// Box Shadow
%box-shadow {
  -webkit-box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.2);
  box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.2);
}

// Text Center
%text-center {
  text-align: center;
}

// Margin Centered
%margin-center {
  margin:0 auto;
}

// Transform to Uppercase
%uppercase {
  text-transform: uppercase;
}

%container-full-height {
	height: 450px;
}

%dark-background {
	background-color: #323b43 !important;
    border-bottom: 1px solid #323b43;
    text-shadow: 0 1px 2px rgba(0,0,0,.3);
    background: 0 0;
} 

%light-background {
  background-color: #f4f7f9 !important;
  border-bottom: 1px solid #eff3f6;
}