// ==================
// Variables
// ==================


// Descriptive Colors

$snow             :     #EFF0F1;
$white            :     #ffffff;
$light-gray       :     #e2e2e2;
$gray             :     #aaaaaa;
$dark-gray        :     #727272;
$black            :     #000000;

$red              :     #ff0000;
$green            :     #5cb85c;
$blue             :     #0078a0;

// Fonts

$sans-serif   :     sans-serif;
$verdana      :     verdana, $sans-serif;
$pt-sans      :    'PT Sans', $sans-serif;
$roboto-slab  :     'Roboto Slab', serif;

// Font Sizes

$font-extralg :    2.5rem; // 40px
$font-large   :    1.5rem; // 32px
$font-medium  :    1rem;   // 16px
$font-small   :    .9rem;  // 14px
$font-xsmall  :    .8rem;   // 12px

// Component Colors
$navigation-link-color   : $white;
$home--services--bg      : $gray;