// ==================
// Variables
// ==================


// Descriptive Colors

$white        :   #ffffff;
$black        :   #000000;

$dark-gray    :   #63666a;
$mid-gray     :   #b8babb;
$light-gray   :   #e7e8e8;


$red          :   #e86160;
$green        :   #5dcc20;
$blue         :   #0083c6;
$dark-blue    :   #212943;

// Fonts

$sans-serif   :     sans-serif;
$verdana      :     verdana, $sans-serif;
$pt-sans      :    'PT Sans', $sans-serif;
$roboto-slab  :    'Roboto Slab', serif;

// Font Sizes

$font-extralg :    2.5rem; // 40px
$font-large   :    1.5rem; // 32px
$font-medium  :    1rem;   // 16px
$font-small   :    .9rem;  // 14px
$font-xsmall  :    .8rem;   // 12px

// Component Colors
$navigation-link-color   : $white;
$home--services--bg      : $mid-gray;