// ==================
// Variables
// ==================


// Descriptive Colors

$white        :   #ffffff;
$black        :   #000000;

$dark-gray    :   #63666a;
$mid-gray     :   #b8babb;
$light-gray   :   #e7e8e8;


$red          :   #e86160;
$green        :   #5dcc20;
$blue         :   #0083c6;
$dark-blue    :   #212943;

// Fonts

$sans-serif   :     sans-serif;
$roboto       : 'Roboto', $sans-serif;
$ptsans       : 'PT Sans', $sans-serif;

// Font Sizes

$font-extralg :    2.5rem; // 40px
$font-large   :    1.5rem; // 32px
$font-medium  :    1rem;   // 16px
$font-small   :    .9rem;  // 14px
$font-xsmall  :    .8rem;   // 12px

// Component Colors
$navbar-bg-color         : #1f262d;
$navbar-link-color       : $white;
$home--services--bg      : $mid-gray;
$panel-bg-dark           : #273039;