footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	background-color: $navbar-bg-color;
	width: 100%;
	height: auto;
	position: relative;

	.disclaimer {
		display: flex;
		margin-left: auto;
		font-size: 12px;
	}

	a:hover {
		@extend %text-none;
	}
}

.footer {
    width: 100%;
    display: flex;
    padding: 10px 30px 0 30px;

	&__brand {
		font-size: 25px;
		color: $white;
		margin-right: auto;
		cursor: pointer;

		&:hover {
			color: darken($white, 10%);
		}
	}

	&__logo {
		height: 100%;
		margin-bottom: 10px;
		max-height: 70px;

		&:hover {
			color: darken($white, 10%);
		}
	}

	.social {
	    display: flex;
	    align-items: center;
	    flex-wrap: wrap;
	    max-width: 335px;
	    width: 100%;

			h6 {
			    color: $white;
			    width: 130px;
			    padding-right: 20px;
		}
	}

	&__mainnav,
	&__socialnav {
		// background-color: darken(, 5%);
		color: $white;
		list-style-type: none;
		display: flex;
		align-items: center;
		width: 100%;
		height: auto;
		padding: 0 35px 10px 16px;
	}

	&__socialnav {
		padding: 0;
		max-width: 205px;
	}

	&__mainnav-item,
	&__socialnav-item {
		padding: 0 15px;
		cursor: pointer;
	}

	&__mainnav-item a {
		color: $white;
		cursor: pointer;

		&:hover {
			color: $white;
		}
	}

	&__socialnav-item {
		height: 28px;
		cursor: pointer;

		&:first-child {
			padding-left: 0;
		}
	}
	
}