///////// CONTACT PAGE /////////



#contact-form input[type="text"], 
#contact-form input[type="email"], 
#contact-form input[type="tel"], 
#contact-form input[type="url"], 
#contact-form textarea, 
#contact-form button[type="submit"] { 
    font:400 12px/16px  'PT Sans', Arial, sans-serif; 
    color: $black;
}

#contact-form {
    width: 400px; 

    @include for-size(phone-only) {
        width: 280px; 
    }
}

#contact-form h5 {
    color: #0CF;
}

#contact-form p {
    margin: 5px 0 15px;
}

#contact-form fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact-form .form-group {
    margin-bottom: 15px;
}

#contact-form .help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}

#contact-form .has-error .checkbox, 
#contact-form .has-error .checkbox-inline, 
#contact-form .has-error .control-label, 
#contact-form .has-error .help-block, 
#contact-form .has-error .radio, 
#contact-form .has-error .radio-inline, 
#contact-form .has-error.checkbox label, 
#contact-form .has-error.checkbox-inline label, 
#contact-form .has-error.radio label, 
#contact-form .has-error.radio-inline label {
    color: #a94442;
}

#contact-form .has-error input {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

#contact-form input[type="text"], 
#contact-form input[type="email"], 
#contact-form input[type="tel"], 
#contact-form input[type="url"], 
#contact-form textarea {
    width:100%;
    border:1px solid #CCC;
    background:#FFF;
    margin:0 0 5px;
    padding:10px;
    color: $black;
}

#contact-form input[type="text"]:hover, 
#contact-form input[type="email"]:hover, 
#contact-form input[type="tel"]:hover, 
#contact-form input[type="url"]:hover, 
#contact-form textarea:hover {
    -webkit-transition:border-color 0.3s ease-in-out;
    -moz-transition:border-color 0.3s ease-in-out;
    transition:border-color 0.3s ease-in-out;
    border:1px solid #AAA;
}

#contact-form textarea {
    height:100px;
    max-width:100%;
    resize:none;
}

#contact-form button[type="submit"] {
    cursor:pointer;
    width:100%;
    border:none;
    background:#0CF;
    color:#FFF;
    margin:0 0 5px;
    padding:10px;
    font-size:15px;
}

#contact-form button[type="submit"]:hover {
    background:#09C;
    -webkit-transition:background 0.3s ease-in-out;
    -moz-transition:background 0.3s ease-in-out;
    transition:background-color 0.3s ease-in-out;
}

#contact-form button[type="submit"]:active { 
    box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); 
}

#contact-form input:focus, 
#contact-form textarea:focus {
    border:1px solid #999;
}