header {
  display: flex;
  align-items: center;
  position: fixed;
  background-color: $navbar-bg-color;
  width: 100%;
  height: auto;
  padding: 10px 15px 0 15px;
  box-shadow: 1px 3px 3px rgba(0,0,0,0.2);
  z-index: 2;
}

.header__brand {
  margin: 5px auto 10px 5px;
  height: auto;
  color: $white;
  display: flex;
  align-items: flex-end;

  &:hover {
    color: $white;
  }
}

.header__logo {
  height: 100%;
  margin-right: 10px;
  max-height: 70px;
}

.header__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.header__social,
.header__mainnav {
  display: flex;
  align-items: flex-end;
  position: relative;
}

.header__mainnav {
  bottom: -3px;
}

.header__socialnav-item,
.header__nav-item {
  padding: 8px 15px;
  cursor: pointer;
  position: relative;
}

.header__socialnav-item {
  padding: 0 15px;

  a {
    color: $navbar-link-color;
  }
}

.dropdown {

  .caret {
    color: $white;
    margin: 10px;
  }
}

.dropdown__menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: $white;
  width: 175px;
  border-top: 5px solid $blue;
  border-radius: 3px;
  top: 100%;
  left: 0;
  box-shadow: 1px 3px 3px rgba(0,0,0,0.2);
  transition: opacity .2s ease-in;

  li {
    display: block;

    a {
      padding: 8px 20px;
      color: $dark-gray;
      display: block;
      margin: 0 auto;
      line-height: 1;
    }
    &:hover {
      background-color: $light-gray;
    }
  }
}

.header__nav-item {
  border-top: 3px solid transparent;

  a {
    position: relative;
    color: $navbar-link-color;
  }

  &:hover {
    color: inherit;
    border-top: 3px solid $blue;

    & .dropdown__menu {
      visibility: visible;
      opacity: 1;
    }
  }
}
