// ==============
// Main Sections
// ==============   

.page-wrapper {
	top: 20px;
    position: relative;
    height: auto;
    margin: 0;
    padding: 0;
}
.page-content {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    height: auto;
    padding: 0;
    position: relative;
}

.horizontal-divider {
    display: block;
    width: 100%;
    height: 0;
    border-bottom: 1px solid #eff3f6;
    margin: 60px 0;
}


// jumbotron backgrounds

///////// HOME PAGE /////////

.home {
	&__cta {
		@extend %dark-background; // needs to be img
		text-align: center;
	    height: 500px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    
		// background: url(../img/8k-dumbells.png) no-repeat;
	    // background-size: cover;
	}

	&__about {
		@extend %light-background; // white background, cut out photo on right
		display: flex;

		.content {
		    max-width: 500px;
		    width: 100%;
		    height: auto;
		    margin: 50px auto 50px auto;
		    align-items: flex-start;
		    display: flex;
		    flex-direction: column;

		    p {
	    	    text-align: left;
		    }
		}
		
	}
	&__services {
		@extend %dark-background;
		display: flex;
		flex-direction: column;

		.content {
			display: flex;
			justify-content: center;
			align-items: center;
	        width: 100%;
		    margin: 50px auto 50px auto;

		    .service-item {
		    	margin-right: 30px;
	    	    width: 350px;
			    height: 350px;
		    }
		}

	}
	&__testimonials {
		@extend %light-background; // possible img
	}
}


.icon-circle {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: 1px solid #ccc;
}

.service-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	border: 1px solid #666;
	border-radius: 3px;
	padding: 15px;
	width: 200px;
	height: auto;
}