// ==============
// Main Sections
// ==============   

.horizontal-divider {
    display: block;
    width: 100%;
    height: 0;
    border-bottom: 1px solid #eff3f6;
    margin: 60px 0;
}


///////// HOME PAGE /////////

.home {
	&__cta {
		@extend %dark-background; // needs to be img
		text-shadow: 0 1px 2px rgba(0,0,0,.3);
	    align-items: center;
	    
		// background: url(../img/8k-dumbells.png) no-repeat;
	    // background-size: cover;
	}

	&__about {
		@extend %light-background; // white background, cut out photo on right

		.container {
		    max-width: 500px;
		    text-align: left;
		    display: flex;
		    flex-direction: column;
		    justify-content: center;
		}

		.img--about {
		    max-width: 350px;
		    width: 100%;
		    margin: 0 auto;
		}
		
	}
	&__services {
		@extend %dark-background;

		.container-flex {
			justify-content: space-between;
		    margin: 50px auto;
		    max-width: 600px;
		}

	}
	&__testimonials {
		@extend %light-background; // possible img
	}
}
