// ==============
// Main Sections
// ==============   

.horizontal-divider {
    display: block;
    width: 100%;
    height: 0;
    border-bottom: 1px solid #eff3f6;
    margin: 60px 0;
}

.brand__title {
  color: $white;
  cursor: pointer;

  &:hover {
    color: darken($white, 10%);
  }

  &--header {
  	@extend .brand__title;
    display: none;

    @include for-size(phone-only) {
      display: block;
      padding-bottom: 10px;
    }

    @include for-size(tablet-landscape-up) {
      display: inline-block;
    }
  }

  &--footer {
  	@extend .brand__title;
    padding-bottom: 20px;

    @include for-size(tablet-portrait-up) {
      padding: 0;
      margin-right: auto;
    }
  }
}

.faq {
  li {
    padding: 20px 0;

    @include for-size(phone-only) {
      border-bottom: 1px solid #ccc;
    }
  }
}

.table__paragraph {
  @extend .paragraph;
  text-align: left;
    display: -webkit-flex;
  display: flex;
}

.table__description,
.table__price {
  width: 250px;
  text-align: left;
}

.training-navigation {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    background-color: $blue;
    padding: 20px 0; 

    a {
      margin: 5px 10px;
    }
}

.disclaimer {
    display: -webkit-flex;
    display: flex;
    margin: 0 auto;
    padding: 10px;
}

.cta {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    &--home {
        @extend .cta;
        margin: 60px 40px 0 auto;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;

        .transform {
            margin-bottom: 50px;

            @include for-size(tablet-landscape-up) {
                margin-bottom: 20px;
            }
        }
    }
}

.promobox {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;

    p {
        position: relative;
    }

    .old-price {
        margin-left: 15px;

        @include for-size(phone-only) {
          margin: 0 15px 0 0;
        }

        &:after {
          position: absolute;
          content: "/";
          color: $red;
          right: 95px;
          top: -21px;
          transform: rotate(30deg);

          @include for-size(phone-only) {
            right: 70px;
          }

          @include for-size(tablet-portrait-up) {
            right: 115px;
            top: -25px;
          }
            
        }
    }
    .special {
        color: $yellow;
        margin-right: 10px;

        &-price {
            color: $green;
            margin-right: 40px;

            @include for-size(phone-only) {
              margin-right: 0;
            }
        }
    }

    .sign-up {
        width: 100%;
        margin: 0;

        @include for-size(tablet-landscape-up) {
            width: auto;
        }
    }

    + .disclaimer {
      color: $white;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
}

.rates {
  padding: 0 0 20px 0;

  h5 {
    border-bottom: 1px solid #fff;
    margin-bottom: 10px
  }

  .disclaimer {
    margin: 0;
    display: inline-block;
    padding: 0;
    color: $white;
  }
}


