// navigation

.navbar {
	@extend %box-shadow;
}

.navbar-default {
    background-color: $navbar-bg-color;
    border-color: $navbar-bg-color;

	.navbar-brand {
		display: flex;
		align-items:flex-end;
		color: $white !important;

		.logo-sm {
			max-height: 40px;
			margin-right: 10px;
		}
	}

	.navbar-nav {
		margin-bottom: -4px !important;
		
		& > li >a {
			color: $navbar-link-color !important;
			background-color: transparent !important;
			border-bottom: 4px solid transparent;
		}

		& > .active > a {
			border-bottom: 4px solid $blue;
		}
	}
}