// navigation

.navbar {
	@extend %box-shadow;
}

.navbar-default {

	.navbar-brand {
		display: flex;
		align-items:flex-end;
		color: $black !important;

		.logo-sm {
			max-height: 40px;
			margin-right: 10px;
		}
	}
}