// ==================
// Variables
// ==================


// Descriptive Colors

$snow             :     #EFF0F1;
$white            :     #ffffff;
$light-gray       :     #e2e2e2;
$gray             :     #aaaaaa;
$dark-gray        :     #727272;
$black            :     #000000;

$red              :     #ff0000;
$green            :     #5cb85c;
$blue             :     #0078a0;

// Fonts

$sans-serif   :     sans-serif;
$verdana      :     verdana, $sans-serif;
$raleway      :     'Raleway', sans-serif;
$roboto       :     'Roboto Condensed', sans-serif;

// Font Sizes

$font-extralg :    2.5em;
$font-large   :    2em;
$font-medium  :    1.5em;
$font-small   :    1.3em;