//============
// Cards
//============

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
	width: 250px;
	margin: 0 20px;
	position: relative;
	border: 1px solid transparent;
	color: $white;
	border-radius: 3px;
	padding: 25px;
	background-color: transparent;
	// box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.2);

	&.skin-light {
		background-color: $white;
		color: $dark-gray;
	}

	&.skin-dark {
		background-color: $dark-gray;
		color: $white;
	}

	.btn {
		margin: 0;
	}
}

.card-name {
	font-size: 16px;
	color: $dark-gray;
	display: block;
	margin-bottom: 15px;
}

.card-title {
	display: block;

	a {
		color: $mid-gray; //lighter than the card name
	    font-weight: 700;
	    font-size: 14px;
		text-transform: uppercase;
	}
}

.dark-text a {
	color: $black;

	&:hover {
		color: $mid-gray; //lighter than the card name
	}
}

.card-display {
    width: -webkit-calc(100% + 3px);
    width: calc(100% + 3px);
    height: 100px;
    display: block;
    position: absolute;
    left: -1px;
    top: -1px;
    border-radius: 3px 3px 0 0;
}

.card-icon {
	@extend .card-display;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 50px;
    height: auto;
}

// example of adding color to the card display area
.card-display {
	&.primaryColor {
		background-color: #168eea;
	}
}

