// ==============
// Containers
// ============== 

.page {
	margin: 0 auto;
	overflow: hidden;
    position: relative;
    padding-top: 95px;

    @include for-size(phone-only) {
    	padding-top: 180px;
	}
}

.panel-bg-dark {
	@extend %dark-background;
	margin: 0 auto;
}

.panel-bg-light {
	@extend %light-background;
	margin: 0 auto;
}

.panel-height-500 {
	height: auto;

	@include for-size(desktop-up) {
      height: 500px;
    }
}

.w-800 {
	max-width: 800px;
	padding: 0 20px;
}

.flex-col {
	@extend section;
	margin: 0 auto;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
	flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
	justify-content: center;
}

.flex-cards {
    display: -webkit-flex;
	display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
	flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
	justify-content: center;
    margin: 50px auto;
    max-width: 1200px;
    width: 100%;

    @include for-size(desktop-up) {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
}

.centered {
	margin: 0 auto;	
	position: relative;
    padding: 20px;
}

.column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
	flex-direction: column;
	width: 500px;
	text-align: left;
	padding: 20px;
}

.m-tb-40 {
	margin: 40px auto;
}

.banner {

	&__price {
		background-color: #b8babb;

		h5 {
			color: #2a2f33;
		}
	}
}

.table__paragraph {
	@extend .paragraph;
	text-align: left;
    display: -webkit-flex;
	display: flex;
}

.table__description,
.table__price {
	width: 250px;
	text-align: left;
}

.table__description {

}

.table__price {

}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-dismissable .close, 
.alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}

.training-navigation {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    background-color: $blue;
    padding: 20px 0; 

    a {
    	margin: 5px 10px;
    }
}

