// ==============
// Containers
// ============== 

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.page {
	margin: 0 auto;
	overflow: hidden;
    position: relative;
    padding-top: 95px;
}

.panel-bg-dark {
	@extend %dark-background;
	margin: 0 auto;
}

.panel-bg-light {
	@extend %light-background;
	margin: 0 auto;
}

.panel-height-500 {
	height: 500px;
}

.w-800 {
	max-width: 800px;
}

.flex-col {
	@extend section;
	margin: 0 auto;
	flex-direction: column;
	justify-content: center;
}

.flex-col-w500 {
	@extend .flex-col;
	max-width: 500px;
	text-align: left;
}

.flex-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    margin: 50px auto;
    max-width: 1200px;
    width: 100%;
}

.centered {
	margin: 0 auto;	
}

.column {
	flex-basis: 45%;
	padding: 0 15px;
}

.m-tb-40 {
	margin: 40px auto;
}

.banner {

	&__price {
		background-color: #b8babb;

		h5 {
			color: #2a2f33;
		}
	}
}

.table__paragraph {
	@extend .paragraph;
	text-align: left;
	display: flex;
}

.table__description,
.table__price {
	width: 250px;
	text-align: left;
}

.table__description {

}

.table__price {

}


