
.icon {
	cursor: pointer;

	&-white {
		fill: $white;

		&:hover {
			fill: $light-gray;
		}
	}

	&-black {
		fill: $black;

		&:hover {
			fill: $blue;
		}
	}

	&-circle {
		border-radius: 50%;
	}
}

.icon-social {
	@extend .icon;
	@extend .icon-circle;
	height: 28px;

	&:hover {
		fill: lighten($blue, 20%);
	}
}

.icon-small {
	@extend .icon;
    height: 70px;
    padding: 10px 20px;
}

.icon-medium {
	@extend .icon;
	height: 100px;
}