// ==============
// Images
// ============== 

.img--about {
    max-width: 335px;
    padding: 0 20px;
    margin: 0 0 -27px 0;

    @include for-size(tablet-portrait-up) {
    	padding: 0 20px;
	}
}

.img--cole {
	max-width: 500px;
}

.img--logo {
	@include for-size(phone-only) {
      display: none;
    }

    height: 70px;
    width: auto;
    margin-right: 20px;
}

.img--assessment {
	max-width: 500px;
}

.img--banner {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 250px;
}

.img--flow {
	@extend .img--banner;
	background-image: url('../img/flow.jpg');
    height: 650px;
}

.img--question {
	@extend .img--banner;
	background-image: url('../img/question-banner.jpg');
	height: 200px;
}

.img--coporate {
	@extend .img--banner;
	background-image: url('../img/corporate-banner.jpg');
}

.img--contact {
	@extend .img--banner;
	background-image: url('../img/contact-banner.jpg');
	background-position: bottom center;
}

.img--training {
	@extend .img--banner;
	background-image: url('../img/training-banner.jpg');
    background-position: 0 44%;
}

.img--services {
	@extend .img--banner;
	background-image: url('../img/services-banner.jpg');

}

.overlay {
	width: 100%;
	height: 100%;
	background: rgba(19,19,19,1);
	background: -moz-linear-gradient(top, rgba(19,19,19,1) 0%, rgba(19,19,19,0.59) 41%, rgba(28,28,28,0.4) 60%, rgba(171,171,171,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(19,19,19,1)), color-stop(41%, rgba(19,19,19,0.59)), color-stop(60%, rgba(28,28,28,0.4)), color-stop(100%, rgba(171,171,171,0)));
	background: -webkit-linear-gradient(top, rgba(19,19,19,1) 0%, rgba(19,19,19,0.59) 41%, rgba(28,28,28,0.4) 60%, rgba(171,171,171,0) 100%);
}

 