// ==============
// Images
// ============== 

.img--about {
    max-width: 338px;
}

.header__logo {
    max-height: 70px;
}

.img--assesment {
	max-width: 500px;
}

.img--flow {
	background-image: url('../img/flow.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}