// ==============
// Typography
// ==============   

.hero-heading,
.hero-subheading,
.section-title {
	&.dark {
		color: $gray;
	}
	&.light {
	    color: $white;
	}
}

.section-title {
    padding-top: 30px;
    line-height: 1.5;
}

.hero-heading {
    font-size: 60px;
    font-weight: 700;
    font-family: Lato,"Open Sans",Helvetica,sans-serif;
    margin-bottom: 15px;
    margin-top: 0;
}

.hero-subheading {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
    opacity: .9;
    margin-top: 5px;
}

// example

// .menu {
//     font-family: $pt-sans;
// }

// .heading {
// 	text-align: center;
// 	color: $white;
// 	font-family: $roboto-slab;
//     font-size: 45px;
// 	font-weight: bold;
// 	text-transform: uppercase;
// }