// ======================
// Base Element Rewrites
// ======================  



body {
  font-family: $pt-sans;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #59626a;
  height: 100%;
}


